<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket World Cup 2023</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('add_match') }}">Add Match</a></li>
            <!-- Add more links as needed -->
        </ul>
    </nav>
    <div class="container">
        <h1>Cricket World Cup 2023</h1>
        <h2>Matches</h2>
        {% for match in matches %}
            <div class="match-card">
                <a href="/match/{{ match[0] }}" class="match-link">
                    <h3>Match {{ match[0] }}: {{ match_teams[match[0]]|join(' vs ') }}</h3>
                    <p>Date: {{ match[1] }}</p>
                    <p>Stadium: {{ match[2] }}</p>
                </a>
                <form method="post" action="{{ url_for('delete_match', match_id=match[0]) }}" class="delete-form">
                    <input type="submit" value="Delete Match" class="delete-button">
                </form>
            </div>
        {% endfor %}
    </div>
</body>
</html>


